@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

::selection {
    color: #ffff;
    background: rgb(142, 73, 232);
}

body {
    width: 100vw;
    height: 100vh;
    /* overflow: hidden; */
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #c5caca 0%, #fefffc 100%);
}

.wrapper {
    background: #fff;
    max-width: 90vw;
    height: 85vh;
    width: 100%;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.wrapper header {
    font-size: 30px;
    font-weight: 600;
    width: 80vw;
}

.wrapper .inputField {
    margin: 20px 0;
    width: 100%;
    display: flex;
    height: 45px;
}

.inputField input {
    width: 95%;
    height: 100%;
    outline: none;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 17px;
    padding-left: 15px;
    transition: all 0.3s ease;
}

.inputField input:focus {
    border-color: #8E49E8;
}

.inputField button {
    width: 5%;
    height: 100%;
    border: none;
    color: #fff;
    margin-left: 5px;
    font-size: 21px;
    outline: none;
    background: #8E49E8;
    cursor: pointer;
    border-radius: 3px;
    opacity: 0.6;
    pointer-events: none;
    transition: all 0.3s ease;
}

.inputField button:hover,
.footer button:hover {
    background: #721ce3;
}

.inputField button.active {
    opacity: 1;
    background-color: brown;
    pointer-events: auto;
}

.wrapper .todoList {
    width: 100%;
    overflow-y: auto;
}

.todoList li {
    position: relative;
    list-style: none;
    height: 45px;
    line-height: 45px;
    margin-bottom: 8px;
    background: #f2f2f2;
    border-radius: 3px;
    padding: 0 15px;
    cursor: default;
    overflow: hidden;
}

.todoListBody {
    display: flex;
    justify-content: space-between;
    background: #f2f2f2;
    padding: 0px 5px 0px 5px;
}

.w-20 {
    width: 20%
}

.todoListBody span.icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0px;
    background: #e74c3c;
    margin: 4px;
    width: 45px;
    visibility: hidden;
    text-align: center;
    color: #fff;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    transition: all 0.2s ease;
}

.todoListBody:hover span.icon {
    position: relative;
    background: blue;
    right: 0px;
    display: flex;
    visibility: visible;
    margin: 5px 10px;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.wrapper .footer {
    display: flex;
    width: 100%;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}

.footer button {
    padding: 6px 10px;
    border-radius: 3px;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    margin-left: 5px;
    background: #8E49E8;
    cursor: pointer;
    user-select: none;
    opacity: 0.6;
    pointer-events: none;
    transition: all 0.3s ease;
}

.footer button.active {
    opacity: 1;
    pointer-events: auto;
}

.todoListHeader {
    display: flex;
    list-style: none;
    justify-content: space-between;
    background: #d6d6d6;
    padding: 10px 25px 10px 20px;
}

.todo-head {
    font-size: 15px;
    text-decoration: none;
    position: relative;
}