<!DOCTYPE html>
<link rel="stylesheet" href="/asset/css/registration.css" />

<body  class="body-center">

    <div class="card">
       <h2 class="class-header">To-do list Registration</h2>

  <form class="class-body">
    <label for="uname">Username:</label><br>
    <input type="text" id="uname" name="uname"><br>
    <label for="email">E-mail:</label><br>
    <input type="email" id="email" name="email"><br><br>
    <label for="password">Password:</label><br>
    <input type="text" id="password" name="password"><br><br>
    <label for="confirm password">Confirm Password:</label><br>
    <input type="text" id="confirmpassword" name="confirmpassword"><br><br>
    <input type="submit" value="submit">
  </form>
  
</div>



</body>
</html>
